.main-content {
  min-height: calc(100vh - 92px);
  overflow: hidden;
  width: 100%;
}
.main-navbar {
  width: 100%;
  overflow: hidden;
}

.searchBar {
  margin-top: 15px;
}

@media screen and (max-width: 430px) {
  .searchBar {
    margin-top: 40px;
  }
}
@media screen and (max-width: 770px) {
  .searchBar {
    margin-top: 33px;
  }
}